DB_USER=DBUSER
DB_PASS=DBPASS
DB_HOST=HOSTNAME
DB_NAME=DBNAME

GIN_MODE=debug

VIEWS_UPDATE_TIME=2h
DB_PRODUCT_SYNC_TIME=30m

SHA_KEY="security"

RES_REG_NO_HEADER=ResRegNo
RES_GUID_HEADER=ResGuid
MEDIA_GUID_HEADER=MediaGuid
RP_ACC_GUID_HEADER=RpAccGuid
RP_ACC_REG_NO_HEADER=RpAccRegNo

VIEW_COUNTER_ROUTE=view-counter/
PRODUCT_ROUTE=goapi/
SEARCH_ROUTE=find-product/
